name: Build NX

on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/d3fau4/nx-dev
    steps:
    - uses: actions/checkout@v4
      with:
          submodules: true

    - name: Build app
      run: |
        mkdir build
        cmake -G "Unix Makefiles" --toolchain=DevkitA64Libnx.cmake -S . -B build
        cmake --build build
    - name: upload
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.platform }}
        path: |
            build/*.nsp
